<template>
    <div class="main_content">
        <h1 class="main_title" style="margin-bottom: 50px; margin-top: 50px">Каталог</h1>
        <div class="search">
            <input v-model="country_name" class="form-control mr-sm-2" v-on:keyup.enter="searchCountry" type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" v-on:click="searchCountry">Поиск</button>
        </div>
        <div class="cards">
            <div class="country_card" ref="Соединенные Штаты Америки сша usa">
                <h3 class="main_title">Соединенные Штаты Америки</h3>
                <div class="country_card_info">
                    <h4 class="main_title">Тесты</h4>
                    <ul class="list">
                        <router-link tag="li" to="/quiz/usa_states">
                            <h5 class="main_title">Штаты США</h5>
                        </router-link>
                    </ul>
                    <h4 class="main_title">Информация</h4>
                    <ul class="list">
                        <router-link tag="li" to="/info/usa_states">
                            <h5 class="main_title">О стране</h5>
                        </router-link>
                    </ul>
                </div>
            </div>
            <div class="country_card" ref="Сербия Serbia">
                <h3 class="main_title" >Республика Сербия</h3>
                <div class="country_card_info">
                    <h4 class="main_title">Тесты</h4>
                    <ul class="list">
                        <router-link tag="li" to="/quiz/serbia_regions">
                            <h5 class="main_title">Округа Сербии</h5>
                        </router-link>
                    </ul>
                    <h4 class="main_title">Информация</h4>
                    <ul class="list">
                        <router-link tag="li" to="/info/serbia_regions">
                            <h5 class="main_title">О стране</h5>
                        </router-link>
                    </ul>
                </div>
            </div>
            <div class="country_card" ref="Италия">
                <h3 class="main_title">Итальянская Республика</h3>
                <div class="country_card_info">
                    <h4 class="main_title">Тесты</h4>
                    <ul class="list">
                        <router-link tag="li" to="/quiz/italy_regions">
                            <h5 class="main_title">Регионы Италии</h5>
                        </router-link>
                    </ul>
                    <h4 class="main_title">Информация</h4>
                    <ul class="list">
                        <router-link tag="li" to="/info/italy_regions">
                            <h5 class="main_title">О стране</h5>
                        </router-link>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "catalog",
    data () {
        return {
            country_name: null,
            interval_color: null
        }
    },
    methods: {
        searchCountry () {
            for (const ref in this.$refs) {
                if (ref.toLowerCase().includes(this.country_name.toLowerCase())) {
                    return this.scrollToCountry(this.$refs[ref]);
                }
            }
        },
        scrollToCountry(country) {
            const top = country.offsetTop;
            country.className = "country_card_colored";
            this.interval_color = setInterval(() => {country.className = "country_card"},1000);
            window.scrollTo(0, top);
        },
        changeColorToNormal() {

        }
    }
}
</script>

<style scoped>


.main_content {
    margin: 10px 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.country_card {
    display: flex;
    flex-direction: column;
    background: #212529;
    border-radius: 2rem;
    border: #B0B0B0 dashed;
    padding: 20px;
    margin-bottom: 30px;
}

.country_card_info {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: column;
}

.main_title {
    color: white;
    text-align: center;
    display: table;
    margin: 10px;
}

.list {
    list-style-type: square;
    color: #B0B0B0;
}

.search {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-bottom: 20px;
}
.country_card_colored {
    border: red dashed;
    display: flex;
    flex-direction: column;
    background: #212529;
    border-radius: 2rem;
    padding: 20px;
    margin-bottom: 30px;
}

</style>