<template>
    <div class="content_under_navbar">
        <div class="hello_form">
            <kinesis-container class="main_header" >
                <h1 class="main_header_h1">
                    <kinesis-element :strength="20" :max-x="10" :max-y="15" style="color: #FFA700;">G</kinesis-element>
                    <kinesis-element :strength="10" :max-x="5" :max-y="10" style="margin-top: 5px; color: #FFD100">e
                    </kinesis-element>
                    <kinesis-element :strength="12" :max-x="12" :max-y="8" style="margin-top: -7px; color: #FF6F00">o
                    </kinesis-element>
                    <kinesis-element :strength="7" :max-x="3" :max-y="7" style="margin-top: 8px; color: #1144AA">Q
                    </kinesis-element>
                    <kinesis-element :strength="9" :max-x="16" :max-y="2" style="margin-top: -13px; color: #29467F">u
                    </kinesis-element>
                    <kinesis-element :strength="16" :max-x="4" :max-y="5" style="margin-top: -5px; color: #4575D4">i
                    </kinesis-element>
                    <kinesis-element :strength="13" :max-x="12" :max-y="15" style="margin-top: -15px; color: #05296E">z
                    </kinesis-element>
                </h1>
            </kinesis-container>
            <div class="information">
                <form class="features">
                    <div class="rainbow">
                        <b-btn v-if="$store.getters.isLoggedIn" class="hello_small_header" to="/catalog">
                            <a class="hello_small_header_a">Каталог</a>
                            <svg width="30" height="30" viewBox="0 0 7.9375 7.9375" xmlns="http://www.w3.org/2000/svg"
                                 style="align-self: center">
                                <g transform="matrix(1.3255 0 0 1.3255 -1.2818 -2.5849)">
                                    <rect x="2.6224" y="4.4377" width="4.1863" height="3.3438" fill-rule="evenodd"
                                          stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width=".265" style="paint-order:stroke fill markers"/>
                                    <path
                                        d="m3.5459 4.3124v-0.87273l-0.61977-0.51858h-0.96127l-0.65771 0.46799-0.35415-0.3921 0.89803-0.72095 1.0625-0.025297 1.151 1.1257 0.037945 0.93597z"
                                        fill="#c1b6b6"/>
                                </g>
                                z
                            </svg>
                        </b-btn>
                        <b-btn v-else class="hello_small_header">
                            <a class="hello_small_header_a">Исследуй планету</a>
                        </b-btn>
                    </div>
                    <div class="rainbow">
                        <b-btn v-if="$store.getters.isLoggedIn" class="hello_small_header" to="/leaderboard">
                            <a class="hello_small_header_a">Таблица лидеров</a>
                            <svg width="30" height="30" viewBox="0 0 7.9375 7.9375" xmlns="http://www.w3.org/2000/svg"
                                 style="align-self: center">
                                <g transform="matrix(1.3255 0 0 1.3255 -1.2818 -2.5849)">
                                    <rect x="2.6224" y="4.4377" width="4.1863" height="3.3438" fill-rule="evenodd"
                                          stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width=".265" style="paint-order:stroke fill markers"/>
                                    <path
                                        d="m3.5459 4.3124v-0.87273l-0.61977-0.51858h-0.96127l-0.65771 0.46799-0.35415-0.3921 0.89803-0.72095 1.0625-0.025297 1.151 1.1257 0.037945 0.93597z"
                                        fill="#c1b6b6"/>
                                </g>
                            </svg>
                        </b-btn>
                        <b-btn v-else class="hello_small_header">
                            <a class="hello_small_header_a">Соревнуйся с друзьями</a>
                        </b-btn>
                    </div>
                    <div class="rainbow">
                        <b-btn v-if="$store.getters.isLoggedIn" class="hello_small_header" to="/profile">
                            <a class="hello_small_header_a">Профиль</a>
                            <svg width="30" height="30" viewBox="0 0 7.9375 7.9375" xmlns="http://www.w3.org/2000/svg"
                                 style="align-self: center">
                                <g transform="matrix(1.3255 0 0 1.3255 -1.2818 -2.5849)">
                                    <rect x="2.6224" y="4.4377" width="4.1863" height="3.3438" fill-rule="evenodd"
                                          stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width=".265" style="paint-order:stroke fill markers"/>
                                    <path
                                        d="m3.5459 4.3124v-0.87273l-0.61977-0.51858h-0.96127l-0.65771 0.46799-0.35415-0.3921 0.89803-0.72095 1.0625-0.025297 1.151 1.1257 0.037945 0.93597z"
                                        fill="#c1b6b6"/>
                                </g>
                            </svg>
                        </b-btn>
                        <b-btn v-else class="hello_small_header">
                            <a class="hello_small_header_a">Развлекайся</a>
                        </b-btn>
                    </div>
                </form>
            </div>
            <div class="under_info" v-if="!this.$store.getters.isLoggedIn">
                <div class="buttons">
                    <div class="rainbow_small">
                        <b-btn class="sign_in" to="/sign_in">Войти</b-btn>
                    </div>
                    <div class="rainbow_small">
                        <b-btn class="sign_up" to="/sign_up">Зарегистрироваться</b-btn>
                    </div>
                </div>
            </div>
            <kinesis-container class="australia">
                <svg width="150" height="150" viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg">
                    <kinesis-element tag="g" :strength="15">
                        <path
                            d="m101.74 25.001-5.8568 21.547-13.761-10.32 3.7422-7.4092-18.031 1.737-2.9114 9.1121-7.6354-5.4788-14.44 18.409-17.847 10.448 7.4844 33.703 8.3574 1.4014 24.081-13.761 15.992 11.198 4.6485-6.0404 6.8803 15.483 18.678 3.0957 13.879-27.177-1.2931-13.912-14.062-17.05-7.9041-24.987zm-3.1714 88.42 3.2464 9.2634 4.3888-0.45302 2.4586-7.7111-10.094-1.0993z"
                            fill="#FF6F00" stroke-width=".21501"/>
                    </kinesis-element>
                </svg>
            </kinesis-container>
            <kinesis-container class="france">
                <svg width="150" height="150" viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg">
                    <kinesis-element tag="g" :strength="15">
                        <path
                            d="m80.841 25c-0.68232 0-6.6526 1.0853-6.6526 1.0853-0.27719 8.8723-6.482 16.734-19.254 18.098l-2.7293-4.9191-5.3519 0.52879 2.4094 12.813-24.263-1.0448 2.6013 8.8488c26.139 8.4224 24.945 32.517 19.252 54.052 10.022 11.301 30.235 10.192 39.66 9.19 0.66099-13.263 11.173-13.753 28.977-6.8658 2.4094-3.7528 4.0086-7.6761 9.5098-10.81l-9.9362-29.745-5.8637 1.322c2.3455-4.499 6.8658-10.64 10.746-13.518l3.3263-18.529c-18.892-1.3433-31.216-9.8851-42.432-20.506z"
                            fill="#1144AA" stroke-width=".21322"/>
                    </kinesis-element>
                </svg>
            </kinesis-container>
            <kinesis-container class="italy">
                <svg width="150" height="150" viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg">
                    <kinesis-element tag="g" :strength="15">
                        <path
                            d="m66.498 25-39.083 13.434c-7.1139 9.2591 3.3761 20.948 7.2059 23.206l12.58-5.8624 22.107 27.358 31.999 17.587 5.0076 12.824-4.1525 8.4274 4.5189 2.931 8.0602-16.854-5.4662-3.9946 2.7792-9.4401 12.946 8.061-0.36643-7.2059-22.915-12.257c1.1352-0.18961 2.2866-0.3866 2.5188-0.44463 0.48865-0.12223-0.36643-3.0534-0.36643-3.0534l-8.3165 0.35339-7.6827-4.2619-7.2056-13.068-9.0378-5.7399-0.85509-13.801 10.015-4.5189-0.97706-8.3052zm-22.294 64.577-1.3435 3.9599-5.1856 0.10181 2.0764 21.739 10.015-2.3203 0.26413-19.662-1.1627-3.5595zm57.346 31.542-25.892 2.687-0.48841 4.6406 22.35 10.382 3.2981-4.2744-2.9314-3.2974z"
                            fill="#FFD100" stroke-width=".24593"/>
                    </kinesis-element>
                </svg>
            </kinesis-container>
            <kinesis-container class="serbia">
                <svg width="150pt" height="150pt" viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg">
                    <kinesis-element tag="g">
                        <path
                            d="m94.782 89.671c0.33384 0.33382 0.66766 0.55622 1.001 0.89005h1.0015c0.2224 0.55579 0.77863 0.89005 1.2238 1.3349 0.33339 0.66766 0.66722 1.4463 1.2235 2.0025 0.33383 0.2224 0.77906 0.11141 1.1125 0.33382 0.22285 1.1125-0.88962 1.7796-1.2238 2.6697-0.44481 0.44481-0.77864 1.1125-1.3349 1.5573-0.33383 0.66764-0.66722 1.3352-1.2235 1.7801-0.44524-0.11141-0.89005-0.2224-1.3352-0.44482h-0.5558c-0.11141 0.11141-0.22284 0.11141-0.22284 0.3334-0.77864 0.11141-1.2235 0.77907-1.6687 1.2243-0.11141 0.6668 0.33383 1.223 0.55623 1.7797-0.55623 0.77906-0.66764 1.7801-0.89005 2.6697 0.33382 0.89005 1.3352 1.1124 1.8915 1.8911-0.11141 0.44481-0.22239 1.0015-0.22239 1.4468-0.33384 0.2224-0.66766 0.33381-0.89006 0.55623-0.11141 0.33382-0.22242 0.77863-0.55666 1.001-0.44438 0.11096-0.88963 0-1.3345 0.33338v-0.2224c-0.44524-0.4448-1.2238 0.11141-1.8915 0.11141-0.33382 0.33339-0.77864 0.55623-1.2238 0.55623-0.11096-0.22284-0.3334-0.33382-0.55581-0.44525-0.33425 0-0.77907 0.11142-1.0015 0.44525-0.4448 0.11141-0.77864 0.33383-1.2235 0.22284-0.22239-0.33426-0.33426-0.77907-0.77906-0.89049h-0.22242c-0.77863 0.2224-0.55623 1.0015-0.77863 1.5577-1.1125-0.11141-2.3364-0.22283-3.4492-0.22283-0.07939 0.0199-0.3334 0-0.3334 0-0.33382 0-0.66721 0-1.001 0.11141-0.5558 0.44525-1.3349 0.44525-1.7801 1.0015-0.2224 0.44482-0.11096 1.001-0.3334 1.4463-1.1129 0.33383-1.6691-0.89006-2.4482-1.4463-0.44438-0.11141-0.88962 0.11141-1.112 0.44482-1.1125 0.55622-2.3364 1.2238-3.4483 1.7801-0.33426 0.11096-0.55622 0.44481-0.77907 0.66721-0.44481 0.8905 0.11096 2.0025-0.2224 2.8926-0.33339 0.44524-0.77864 0.77864-1.1125 1.2238 0 0.11096-0.23628 0.0819-0.23628 0.19335 0 0-0.54236 0.36289-0.87661 0.14004 0-0.66764 0.22284-1.2235 0.33426-1.7796 0.44481-0.22241 0.22241-0.66766 0.44481-1.001-0.33383-1.7806-1.0015-3.5602-1.7796-5.2289-0.44481-0.66765-1.1125-1.2238-1.7801-1.6687-0.2224 0-0.44481 0-0.66721-0.11141-0.22285 0.2224-0.55666 0-0.89006 0.11141-0.2224-0.33382-0.11141-0.66722-0.44524-0.88962-0.11141-0.33382 0.22284-0.66765 0.11096-1.0019-0.44481-0.77864-1.001-1.5573-1.6682-2.2245-0.44481 0-1.0015-0.22284-0.89006-0.22284 0.11096 0 0.11096-0.11096 0.11096-0.22197-0.11096-0.11142-0.11096-0.44569-0.3334-0.33383l0.11096-0.11187c-0.2224-0.55535-0.3334-1.2235-0.77864-1.7792-0.11141 0-0.2224 0.11096-0.11141 0-0.44481-0.33382-0.66721-0.89004-0.7782-1.4466 0.11096-0.22241 0.44438-0.22241 0.55579-0.44481h0.2224c0.11141-0.11096 0.11141-0.11096 0.2224-0.22284h0.2224c0.22285-0.22242 0.55666-0.3334 0.89049-0.3334 0.55623 0.44524 1.2235 1.112 2.0021 0.66722 0-0.33382 0-0.55624 0.11141-0.88962 0.55623-0.22241 1.1125-0.22241 1.5577-0.55623-0.55623-0.44524-0.55623-1.1125-1.1125-1.5577-0.66765-0.33338-1.4467-0.44524-2.225-0.5558-0.33383-0.22284-0.66766-0.33425-0.89006-0.66764 0-0.22284 0-0.55623-0.11141-0.77907-0.66766-0.2224-1.0015-0.88962-1.1125-1.5573l0.11096-0.11096c-0.11096-0.11141-0.22242-0.11141-0.3334-0.11141-0.22284 0.22242-0.55623 0.33383-0.89006 0.33383-0.44524-0.33383-1.1129-0.66766-1.5577-0.22241-0.02385-0.13354 0-0.11141-0.11096-0.2224h-0.2224c-0.11187-0.11141-0.11187-0.11141-0.22284-0.22285h-0.11096c-0.33382-0.33382-0.77864-0.4448-1.001-0.89005v-0.2224c-0.44524-0.55666-0.89005-1.0015-1.3354-1.4463-0.11141-0.33382-0.33382-0.6672-0.55666-1.001-0.55536-0.33382-1.0006-0.88962-1.4459-1.3349-0.44481 0.1105-0.66721-0.22285-0.89005-0.55623 0 0-0.0954-0.08064-0.11096-0.11141-0.55623-0.55624-1.4463-0.66766-1.6687-1.4463l0.11096-0.11141-0.11096-0.11141c0.11096 0 0.11096-0.11096 0.11096-0.22197l-0.11096-0.11141h-0.2224c0.68543 0.01567 1.1125-0.66721 1.2238-1.3349 0.2224 0 0.44482-0.11141 0.66721 0.11141 0.33383 0 0.55623-0.22284 0.88963-0.22284 0.22284 0.22284 0.33426 0.33382 0.55666 0.55623h0.2224c0.22284-0.22242 0.33382-0.44482 0.55579-0.66722 0.11141-0.55666-0.33295-1.1129 0-1.6691 0-0.44481 0.33383-0.88962 0.2224-1.3349-0.33296-0.55622-0.7782-0.89006-1.223-1.1125-0.55666-0.55623-0.44524-1.4459-1.0019-2.1135-0.44437-0.44524-1.0006-0.89005-1.223-1.5573 0.88963-0.66764 1.8907 0.22197 2.7808 0.5558 0.22282 0.2224 0.55622 0.2224 0.89005 0.2224 0.66721-0.44481 1.3349-1.112 1.2238-1.8911-0.33383-0.44482-0.89006-0.55623-1.2238-1.001-0.11141-0.33383-0.33383-0.55666-0.5558-0.77907-0.2224 0-0.44524-0.22242-0.66765-0.22242-0.11141-0.33339-0.2224-0.55622-0.44525-0.7782-0.22239 0-0.22239-0.11141-0.33382-0.22285 0-0.55622-0.11096-1.1129-0.44525-1.4463-0.44437-0.2224-0.7782-0.11096-1.223-0.11096 0 0.11096-0.11141 0.11096-0.22239 0.11096-0.33427-0.11096-0.66766-0.2224-0.8905-0.55623 0-0.44481-0.11141-0.88962-0.33382-1.2238 0.11141-0.5558 0.33382-1.1125 0.55666-1.6682 0-0.44525-0.22285-0.77907-0.22285-1.2238 0.11141-0.22285 0.33426-0.22285 0.55623-0.22285 0.2224-0.2224 0.44525-0.55579 0.44525-0.88962 0.2224-0.33383 0.55622-0.44524 0.66764-0.89006 0.22242-0.2224 0.44481-0.44481 0.66678-0.66764 0.44525-1.3349 0.77907-2.6697 0.89049-4.116-0.11141-0.33383-0.22284-0.55623-0.55623-0.66721-0.44524 0-0.89005-0.11141-1.3349 0.22197-0.2224-0.22197-0.55666-0.22197-0.89005-0.22197-0.77907 0.44481-1.6687 0.77821-2.5587 0.77821 0-0.3334 0.11141-0.55623 0-0.77821 0.66764-0.66766 1.8911-0.2224 2.3364-1.1125 0-0.33426-0.33426-0.44524-0.55666-0.66764 0.2224-0.66721 0.55666-1.3349 0.44525-2.0025-0.11141-0.2224-0.22285-0.55623-0.22285-0.77907 0.77907 0.11141 1.3354-0.44482 1.6691-1.112h0.22242c0.33382 0.3334 0.66765 0.77865 1.1125 1.001 0.66764 0.11096 1.4459-0.11096 1.8911-0.66765 0-0.2224-0.22285-0.3334-0.33383-0.44438-0.77864-0.22285-1.5573-0.44525-2.3359-0.44525-1.001-0.44481-1.7796-1.2238-2.7811-1.7801-0.33383-0.4448-0.66765-0.77864-0.89005-1.3349 0.11141-0.11141 0.33382-0.33383 0.44481-0.44482 0-0.22282 0-0.44523-0.2224-0.66765 0.2224-0.44524 0.44481-0.77863 0.77864-1.1125v-0.2224c-0.44482-0.66765-1.001-0.55666-1.6682-0.44524-0.33382-0.2224-0.33382-0.66721-0.33382-1.001 0.2224-0.44481 0.77864-0.66764 1.001-1.1125-0.11141-0.66765-0.89005-0.77864-1.1125-1.4463-0.33383-0.77863-0.11141-1.6687-0.33383-2.4473-0.2224-0.11141-0.33382-0.33383-0.4448-0.55623 0.11096-0.89005 1.001-0.77907 1.6687-1.1125 0.44481 0 0.88962 0.2224 1.2235 0.55579 0.22241-0.2224 0.44481-0.44481 0.22241-0.77864 0.33382-0.11096 0.66808 0 0.89005-0.3334 0-0.44523-0.38411-1.1835 0-1.4463 0.38412-0.26273 0.55666 0.66765 0.89049 1.001 0.66721 0.11141 1.4459 0.22284 1.8911-0.22242-0.11141-0.3334 0.11096-0.55622 0.33339-0.77863 0.33426 0 0.55666-0.22242 0.88962-0.11141 0.55666-0.33382 1.0019-0.77863 1.4468-1.2234 0-0.2224 0.2224-0.33383 0.11096-0.55623 0.22285-0.22284 0.44525-0.33383 0.66766-0.55623 0.66765 0 1.3349-0.33426 2.0025-0.33426 0.55623 0.55666 1.3349 0.89049 2.1135 0.77907 0.44524-0.33382 1.1129-0.33382 1.6691-0.33382 0.2224 0.2224 0.2224 0.55622 0.55623 0.77907h0.2224c0.22284-0.11141 0.44481-0.22285 0.55623-0.44525 0.11096 0 0.33383-0.11141 0.44481 0.11141 0.44481 0 0.89006-0.22284 1.3354 0 0.33383 0.66721 1.001 1.2235 1.4459 1.7796-0.11141 0.33384 0.11141 0.66766 0.11141 1.0015 0.11141 0.11096 0.11141 0.33383 0.33382 0.44481 0.3334 0.11141 0.66722 0.33383 1.001 0.22284 0.33426 0.66722 0.55666 1.3344 1.1125 1.7796 0.89006 0 1.3349 0.89005 1.2238 1.6682 0.22285 0.33426 0.44525 0.66765 0.77864 1.0015 0.55623 0.11141 1.0015-0.22282 1.4463-0.55622 0.22241 0.3334 0.22241 0.77863 0.22241 1.1125-0.22241 0.33382-0.33383 0.77907-0.33383 1.2238-0.2224 0.3334-0.3334 0.66722-0.3334 1.001 0.3334 0.33384 1.112 0.44525 1.001 1.1129-0.33382 0.33339-0.66764 0.6672-0.89005 1.0006v0.33383c0.33383 0.22284 0.77864 0.33382 1.001 0.66766v0.22282c1.1125 1.1125 2.3364 3.0036 4.116 2.4473 0.44524 0.44481 0.55666 1.2235 1.1129 1.6687 0.77864 0.22241 1.5577 0.22241 2.3359 0.3334 0.33382 0.22284 0.77907 0.44525 1.1125 0.66764 0 0.11096 0 0.2224 0.11141 0.2224 0.11096 0.11141-0.2224 0.22285-0.11141 0.33383-0.55624 0.55666-0.66722 1.3354-0.88963 2.0025-0.22284 0.11141-0.44524 0.2224-0.66808 0.44481-0.11096 0.55666 0.22284 0.89006 0.66808 1.1125 0.44481 0 0.77864 0.33426 1.2235 0.44524 0.3334 0.44481 0.3334 1.112-0.11141 1.4463-0.77864 0-1.5573-0.2224-2.1131 0.44481v0.22284c0.44438 1.1125 1.7796 0.89006 2.7811 1.1125 0.11141 0.11096 0.3334 0.33338 0.44482 0.44481 0.2224 1.2235 1.4463 1.5577 2.4469 1.8911 0.89006 0.11141 1.6691-0.2224 2.5592 0 0.66722 0.77864 0.77864 1.6687 1.1125 2.5587 0.44481 0.66766 1.3349 1.001 1.8911 0.33383 0.33382-0.77864 0.55622-1.5577 0.66721-2.3364 0.11141-0.2224 0.2224-0.44481 0.44524-0.55623 0.77907-0.11096 1.1125-0.77864 1.6687-1.3352h0.55666c1.112 0.55665 1.8911 1.8915 3.3369 1.7801 0.33383 0.22284 0.66766 0.33382 0.89006 0.66764 0.2224 0.55623 0 1.1125-0.33383 1.4463-0.55623-0.11141-1.1125-0.44481-1.6687-0.33382-0.44482 0.2224-0.55623 0.66764-0.89005 0.89005-0.22242-0.11096-0.3334 0.2224-0.55581 0.11141-0.77863 0.66721 0.3334 1.5568 0.3334 2.3359 0.44524 0.77908 1.1125 1.1125 1.8911 1.3349 0.33382 0.2224 0.33382 0.55666 0.55622 0.89006-0.33339 0.66765-0.89005 1.1125-1.112 1.8915 0 0.44482 0 0.88963-0.11141 1.3349-0.11141 0.2224-0.33382 0.2224-0.4448 0.33383-0.66766 0-1.3354 0.2224-2.0025 0.55623-0.44524 1.112-0.11187 2.3359-0.77864 3.3374v0.88961c0.5558 0.77908 0.77864 1.5577 0.89006 2.4473 0.22197 0.44525 0.55579 0.66808 0.88962 0.89006 0.33383 1.0015 0.44482 2.0025 0.55623 3.0039 0.22241 0.55622 0.66765 0.77864 1.1125 1.1125z"
                            stroke-width="1.1357" fill="#05296E"/>
                    </kinesis-element>
                </svg>
            </kinesis-container>
        </div>
    </div>
</template>

<script>

export default {
    name: "hello_page",
    methods: {
        features_appear() {

        }
    },
    mounted() {

    }
}
</script>

<style scoped>

.sign_up {
    font-family: Hammersmith One, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    background: repeating-linear-gradient(
        45deg,
        #1144AA,
        #1144AA 10px,
        #4575D4 10px,
        #4575D4 20px
    );
    white-space: nowrap;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    position: relative;
}

.sign_in {
    font-family: Hammersmith One, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    white-space: nowrap;
    position: relative;
    background: #FFD100 repeating-linear-gradient(
        45deg,
        #0D8800,
        #0D8800 10px,
        #329D27 10px,
        #329D27 20px
    );
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.under_info {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}

.serbia {
    position: absolute;
    left: 87%;
    top: 60%;
}

.italy {
    transform: rotate(-22.5deg);
    position: absolute;
    left: -5vw;
    margin-top: 40%;
}

.france {
    transform: rotate(22.5deg);
    position: absolute;
    left: 90%;
    top: 5%;
}

.australia {
    position: absolute;
    margin-top: 10%;
}

.main_header {
    position: relative;
    width: 100%;
}

h1 {
    font-size: 6rem;
    justify-content: center;
    width: 100%;
    position: relative;
    font-family: Hammersmith One, sans-serif;
    color: white;
    display: flex;
}


.hello_form {
    border-radius: 30px;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 0;
}

.hello_small_header {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    position: relative;
    background-color: #212529;
    color: white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    border: none;
}

.hello_small_header:focus {
    outline: none;
}

.hello_header {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #212529;
    border-radius: 30px;
    color: white;
    position: relative;
    z-index: 0;
}

.features {
}

.information {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}

.rainbow_small {
    align-content: center;
    position: relative;
    margin-top: 20px;
    border-radius: 30px;
    padding: 1px;
    width: 100%;
    background: linear-gradient(to right,
    #FFA700,
    #FFD100,
    #FF6F00,
    #1144AA,
    #29467F,
    #05296E,
    #FF6F00
    ) repeat-x;
    background-size: 200% 100% !important;
}


.rainbow {
    margin-top: 20px;
    position: relative;
    padding: 1px;
    border-radius: 30px;
    width: 100%;
    background: linear-gradient(to right,
    #FFA700,
    #FFD100,
    #FF6F00,
    #1144AA,
    #29467F,
    #05296E,
    #FF6F00
    ) repeat-x;
    background-size: 200% 100% !important;
}

.hello_small_header_a {
    text-decoration: none;
    color: white;
    font-size: 1.75rem;
}



@media screen and (max-width: 1000px) {

    .australia {
        visibility: hidden;
    }
    .serbia {
        visibility: hidden;
    }
    .france {
        visibility: hidden;
    }
    .italy {
        visibility: hidden;
    }

    .main_header_h1 {
        font-size: 20vw;
    }
    .rainbow {
        font-size: 20vw;
    }
    .hello_small_header_a {
        font-size: 5vw;
    }
    .sign_up {
        font-size: 5vw;
    }
    .sign_in {
        font-size: 5vw;
    }
}




</style>