<template>
    <div style="display: grid">
        <div class="content_under_navbar" v-if="$store.getters.isLoggedIn">
            <div class="main_content">
                <image_quiz_window/>
            </div>
            <div class="additional_content">
                <control_window_image v-bind:time="time" />
            </div>
        </div>
        <div v-else style="margin-top: 10%">
            <h1 style="width: 100%; text-align: center; color: white">Пожалуйста, авторизуйтесь</h1>
        </div>
    </div>
</template>

<script>

import control_window_image from "@/components/content/page_components/control_window_image";
import image_quiz_window from "@/components/content/page_components/image_quiz_window";

import axios from "axios";
import {store} from "@/main";

export default {
    name: "image_quiz",
    components: {
        control_window_image,
        image_quiz_window
    },
    props: {
        api_url: {
            default: null,
            type: String
        }
    },
    data () {
        return {
            time: null
        }
    },
    methods: {
        getImageQuizData() {
            axios.get(store.state.additionalData.api_host + this.api_url).then((response) => {
                console.log(response);
            })
        },
        sendImageQuizData() {
            axios.post(store.state.additionalData.api_host + this.api_url, {}).then((response) => {
                console.log(response)
            })
        },
        clockRunning() {
            this.currentTime = new Date();
            let timeElapsed = new Date(this.currentTime - this.startTime);
            let min = timeElapsed.getUTCMinutes();
            let sec = timeElapsed.getUTCSeconds();

            if (sec < 10) {
                sec = "0" + sec;
            }

            let ms = timeElapsed.getUTCMilliseconds() / 100;

            this.time = `${min}:${sec}:${Math.floor(ms)}`
        },
        runClock() {
            this.startTime = new Date();
            this.interval = setInterval(this.clockRunning, 10);
        }
    },
    mounted() {
        this.runClock();
    }
}
</script>

<style scoped>

.additional_content {
    width: 100%;
    margin-left: 20px;
    height: 100%;
}

.main_content {
    min-width: 80%;
    justify-items: center;
    display: grid;
}

.content_under_navbar {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 50px;
}

</style>
