<template>
    <div v-if="show_table" class="table-points">
        <div v-for="(table, name) in tables" v-bind:key="name">
            <h2 style="color: white">>{{ toRussian[name] }}</h2>
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Никнейм</th>
                    <th scope="col">Очки</th>
                    <th>Время</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(user, j) in table" v-bind:key="j">
                    <th>{{ j + 1 }}</th>
                    <td v-on:click="toProfile(user.username)">{{ user.username }}</td>
                    <td>{{ user[name] }}</td>
                    <td v-if="user[name + '_time'] === null">not started</td>
                    <td v-else>{{user[name + "_time"]}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import {store} from "@/main";
import {router} from "@/router";

export default {
    name: "leaderboard",
    data() {
        return {
            tables: {},
            show_table: false,
            toRussian: {
                "usa_states": "Регионы США",
                "serbia_regions": "Регионы Сербии",
                "italy_regions": "Регионы Италии"
            }
        }
    },
    methods: {
        getDataLeaderboard() {
            axios.post(`${store.state.additionalData.api_host}/users/leaderboard`, {
                headers: {
                    "access_token": store.getters.getAccessToken
                }
            }).then((response) => {
                for (const [key, value] of Object.entries(response.data)) {
                    this.tables[key] = value;
                }
                console.log(response.data)
                this.show_table = true;
            }).catch((error) => {
                this.$root.$emit("tokens_error", {func: this.getDataLeaderboard, error: error});
            })
        },
        scrollToElement() {
            const el = this.$refs.scrollToMe;

            if (el) {
                el.scrollIntoView({behavior: 'smooth'});
            }
        },
        toProfile(username) {
            router.push(`/profile/${username}`)
        }
    },
    mounted() {
        this.getDataLeaderboard();
        this.scrollToElement();
    }
}
</script>

<style scoped>

.table-points {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}


</style>
