<template>
    <div class="main_content">
        <div class="user_card">
            <h3 style="justify-self: center; align-self: center; margin-top: 15px">ID card of GeoQuiz user</h3>
            <hr style="margin: 3px">
            <div class="card_body">
                <div class="image">
                    <b-img v-bind:src="avatar_url"></b-img>
                </div>
                <div class="card_information">
                    <table>
                        <tbody>
                        <tr>
                            <td style="font-weight: bold" >
                                ID
                            </td>
                            <td>
                                {{ user.uid }}
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">
                                Username
                            </td>
                            <td>
                                {{ user.username }}
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">
                                Всего очков
                            </td>
                            <td>
                                {{ total_points }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="all_results">
            <div class="table_results">
                <h2 style="color: white; text-align: center; margin-bottom: 20px">>Все результаты</h2>
                <table class="table table-striped table-dark">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название теста</th>
                        <th scope="col">Очки</th>
                        <th scope="col">Время</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(obj, i, j) in all_results" v-bind:key="obj">
                        <td>{{j}}</td>
                        <td>{{toRussian[i]}}</td>
                        <td>{{obj["points"]}}</td>
                        <td>{{obj["time"]}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import {store} from "@/main";
import axios from "axios";
import {router} from "@/router";

export default {
    data() {
        return {
            user: store.state.user,
            total_points: null,
            avatar_url: `https://avatars.dicebear.com/api/bottts/${this.profileUsername}.svg`,
            all_results: {},
            toRussian: {
                "usa_states": "Регионы США",
                "serbia_regions": "Регионы Сербии",
                "italy_regions": "Регионы Италии"
            }
        }
    },
    methods: {
        get_user_data() {
            axios.post(`${store.state.additionalData.api_host}/users/user-data`, {username: this.profileUsername}).then((response) => {
                this.user = response.data;
                axios.post(`${store.state.additionalData.api_host}/users/total-points`, {
                    headers: {
                        "access_token": store.getters.getAccessToken
                    }, uid: this.user.uid
                }).then((response) => {
                    this.total_points = response.data
                })
                axios.post(`${store.state.additionalData.api_host}/users/all_results`, {
                    headers: {
                        "access_token": store.getters.getAccessToken
                    }, uid: this.user.uid
                }).then((response) => {
                    this.all_results = response.data;
                    console.log(response.data)
                })
            }).catch(() => {
                router.push("/profile")
            })
        },

    },
    props: {
        profileUsername: {
            default: store.state.user.username
        }
    },
    mounted() {
        this.get_user_data();
    }
}
</script>

<style scoped>
.main_content {
    display: grid;
    margin-top: 75px;
    justify-content: center;
}

.image {
    min-height: 200px;
    min-width: 200px;
    margin: 10px;
    border-radius: 10px;
    border: #212529 1px solid;
    background: repeating-linear-gradient(
        45deg,
        #212529,
        #212529 10px,
        #B0B0B0 20px
    );;
}
.all_results {
    justify-content: center;
}

.user_card {
    margin: 10px 10px;
    display: grid;
    background: #B0B0B0;
    border-radius: 50px;
}

.card_body {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    grid-auto-flow: column;
    justify-content: center;
}

.table_results {
    margin-top: 50px;
    margin: 10px;
}

</style>
