<template>
    <div class="quiz_page">
        <div class="content_under_navbar" v-if="$store.getters.isLoggedIn">
            <div class="main_content">
                <map_window/>
            </div>
            <div class="additional_content">
                <control_window/>
            </div>
        </div>
        <div v-else style="margin-top: 10%">
            <h1 style="width: 100%; text-align: center; color: white">Please sign in</h1>
        </div>
    </div>
</template>

<script>
import map_window from "@/components/content/page_components/map_window";
import control_window from "@/components/content/page_components/control_window";

export default {
    name: "main_page",
    components: {map_window, control_window}
}
</script>

<style scoped>

.additional_content {
    height: 100%;
}

.main_content {
    justify-content: center;
    display: flex;
    height: min-content;
}

.content_under_navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.quiz_page {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

@media screen and (max-width: 650px) {
    .additional_content {
        margin-top: 20px;
        width: 80%;
    }
}

@media screen and (min-width: 650px) {
    .additional_content {
        margin-left: 20px;
    }
}


</style>