<template>
    <div>
        <div class="control_window">
            <h5 class="state_name" style="color: #329D27; padding: 10px">{{ this.current_state_text }}</h5>
            <table class="answers">
                <thead>
                <tr>
                    <th style="text-align: start">Регион</th>
                    <th style="text-align: end;">Очки</th>
                </tr>
                </thead>
                <tr v-bind:key="result.id" v-for="result in stateResults">
                    <th style="text-align: start">{{ result.state }}</th>
                    <th>{{ result.points }}</th>
                </tr>
            </table>
            <h5 style="text-align: center">Всего: {{ this.total_points }}</h5>
        </div>
        <b-btn :disabled="endButtonDisabled" class="end_btn" v-on:click="quizEnd">
            Стоп
        </b-btn>
        <div class="stopwatch">
            <h5 style="text-align: center; color: #4575D4">{{ this.time }}</h5>
        </div>
        <div class="stopwatch">
            <h5 style="text-align: center; color: #4575D4">{{
                    this.init_states_count - this.states.length
                }}/{{ this.init_states_count }}</h5>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import {store} from "@/main";

const correct_sound = new Audio(require('@/assets/sounds/correct.wav'))
const wrong_sound = new Audio(require('@/assets/sounds/wrong.mp3'))

export default {
    name: "control_window",
    data() {
        return {
            total_points: 0,
            total_time: 0,
            to_plus: 100,
            current_state: null,
            current_state_text: "",
            count_incorrect: 0,
            count_correct: 0,
            stateResults: [],
            interval: null,
            time: 1,
            startTime: null,
            currentTime: null,
            init_states_count: null,
            endButtonDisabled: false,
            states: [],
        }
    },
    methods: {
        sendQuizData() {
            const data = this.prepareRequestQuizData();
            axios.post(`${store.state.additionalData.api_host}/api/quiz-results`, data).catch((error) => {
                this.$root.$emit("tokens_error", {func: this.sendQuizData, error: error});
            }).then((response) => {
                this.$root.$emit("quizEndResponse", response.data);
            });
        },
        prepareRequestQuizData() {
            return {
                headers: {
                    "access_token": store.getters.getAccessToken
                },
                'quiz': window.location.href.split("/")[window.location.href.split("/").length - 1],
                'points': this.total_points,
                'time': (this.currentTime - this.startTime) / 1000
            }
        },
        clockRunning() {
            this.currentTime = new Date();
            let timeElapsed = new Date(this.currentTime - this.startTime);
            let min = timeElapsed.getUTCMinutes();
            let sec = timeElapsed.getUTCSeconds();

            if (sec < 10) {
                sec = "0" + sec;
            }

            let ms = timeElapsed.getUTCMilliseconds() / 100;

            this.time = `${min}:${sec}:${Math.floor(ms)}`
        },
        chooseRandomState() {
            this.current_state = this.states[Math.floor(Math.random() * this.states.length)];
            if (this.current_state.textContent !== "") {
                this.current_state_text = this.current_state.textContent;
            } else {
                this.current_state_text = this.current_state.id;
            }

            this.stateResults.push({"state": this.current_state_text, "points": 0})

            this.sendCurrentState();
        },
        stateClickedListener() {
            this.$root.$on('stateClicked', (event) => {
                this.stateClicked(event);
            })
        },
        getStates() {
            const collection = document.getElementsByClassName('state').item(0).children;
            for (let i = 0; i < collection.length; i++) {
                this.states.push(collection.item(i));
            }
            this.init_states_count = this.states.length;
        },
        showAlert() {
            this.$root.$emit("showAlert");
        },
        hideAlert() {
            this.$root.$emit("hideAlert")
        },
        stateClicked(event) {
            if (this.states.length === 0) {
                this.quizEnd();
            } else if (event.target !== this.current_state) {
                this.to_plus -= 50;
                this.count_incorrect += 1;

                this.showAlert();
                setTimeout(this.hideAlert, 1000);

                wrong_sound.play();

                if (this.count_incorrect === 2) {
                    this.current_state.style.fill = "red";

                    this.restoreData();
                }
            } else {
                let color = "lightgreen";
                if (this.count_incorrect === 1) {
                    color = "orange";
                }
                this.current_state.style.fill = color;
                this.total_points += this.to_plus;
                this.stateResults[this.stateResults.length - 1]["points"] += this.to_plus;
                this.count_correct += 1;
                correct_sound.play();

                this.restoreData();
            }
        },
        restoreData() {
            if (this.states.length === 1) {
                this.quizEnd();
            }
            this.deleteState();
            this.chooseRandomState();

            this.to_plus = 100;
            this.count_incorrect = 0;
        },
        commitQuizEndData(time, total_points) {
            this.$root.$emit("quizEnd", {time: time, total_points: total_points});
        },
        sendCurrentState() {
            this.$root.$emit("currentState", {current_state: this.current_state_text});
        },
        deleteState() {
            this.states.splice(this.states.indexOf(this.current_state), 1);
        },
        quizEnd() {
            this.sendQuizData();

            this.endButtonDisabled = true;
            this.stopClock();
            this.commitQuizEndData(this.time, this.total_points);
        },
        quizStart() {
            this.stateClickedListener();
            this.getStates();
            this.runClock();
            this.chooseRandomState();
        },
        runClock() {
            this.startTime = new Date();
            this.interval = setInterval(this.clockRunning, 10);
        },
        stopClock() {
            clearInterval(this.interval);
        },
    },
    mounted() {
        this.quizStart();
    }
}


</script>

<style scoped>
.control_window {
    color: #B0B0B0;
    width: 100%;
    background-color: #1a1a21;
    outline: #212529 solid 5px;
    border-radius: 30px;
}

.stopwatch {
    margin-top: 20px;
    background-color: #1a1a21;
    outline: #212529 solid 5px;
    border-radius: 30px;
}

.state_name {
    text-align: center;
}

th {
    text-align: center;
    height: 20px;
    width: 100%;
}

thead {
}

table {
    padding: 10px;
    overflow: scroll;
    display: block;
    width: 100%;
    table-layout: fixed;
    height: 500px;
}
.answers {
    height: 300px;
    min-width: 200px;
}

.end_btn {
    margin-top: 10px;
    width: 100%;
    background-color: #1a1a21;
    outline: #212529 solid 5px;
    border-radius: 30px;
    border: 0px solid;
}

</style>