<template>
    <div>
        <div class="control_window">
            <h5 class="state_name" style="color: #329D27; padding: 10px">{{pictureName}}</h5>
            <h5 style="text-align: center">{{correct}}/{{all}}</h5>
        </div>
        <b-btn  class="end_btn" >
            Stop
        </b-btn>
        <div class="stopwatch">
            <h5 style="text-align: center; color: #4575D4">{{ this.time }}</h5>
        </div>
    </div>
</template>

<script>

export default {
    name: "control_window_image",
    props: {
        time: Date,
        correct: Number,
        all: Number,
        pictureName: String
    },
    methods: {

    }
}
</script>

<style scoped>

.control_window {
    color: #B0B0B0;
    width: 100%;
    background-color: #1a1a21;
    outline: #212529 solid 5px;
    border-radius: 30px;
    min-height: 80%;
    max-height: 80%;
}

.stopwatch {
    margin-top: 20px;
    background-color: #1a1a21;
    outline: #212529 solid 5px;
    border-radius: 30px;
}

.state_name {
    text-align: center;
}

th {
    text-align: center;
    height: 20px;
    width: 100%;
}

thead {
}


.end_btn {
    margin-top: 10px;
    width: 100%;
    background-color: #1a1a21;
    outline: #212529 solid 5px;
    border-radius: 30px;
    border: 0px solid;
}


</style>