<template>
    <div class="main_window">
        <div class="photo_container">
            <b-img class="photo" src="https://i.ibb.co/87Zpdsh/8e8bdbd71296.jpg">

            </b-img>
        </div>
        <div class="buttons">

        </div>
    </div>

</template>

<script>
export default {
    name: "image_quiz_window"
}
</script>

<style scoped>

.photo {
    max-height: 500px;
    max-width: 500px;
}

</style>