<template>
    <div v-if="mapVisible" class="map_window" @mousemove="getCursorPosition($event)"
         @mouseleave="cursorLeave" @mouseenter="cursorEnter">
        <div class="task_tip"
             v-bind:style="{top: `${positionY + 10}px`, left: `${positionX + 10}px`, opacity: opacity}">
            <h5 class="tip_text" style="margin: 10px">Нажмите на
                {{ current_state }}
            </h5>
            <div class="alert_svg" v-if="alertVisible">
                <svg width="30" height="30.293" viewBox="0 0 30 30.293" xmlns="http://www.w3.org/2000/svg">
                    <g transform="matrix(.059166 0 0 .059166 -.1465 -7.0279e-7)">
                        <path
                            d="m403.63 112.76c-1.177-5.196-5.721-8.823-11.048-8.823h-273.15c-5.328 0-9.872 3.629-11.048 8.826l-73.042 322.24v21.448h440.65l0.689-21.448z"
                            fill="#ff3501"/>
                        <path
                            d="m151.68 112.76c1.177-5.197 5.721-8.826 11.048-8.826h-43.307c-5.328 0-9.872 3.629-11.048 8.826l-73.041 322.24v21.448h43.307v-21.448z"
                            fill="#cd2900"/>
                        <rect x="222.45" y="317.87" width="67.093" height="148.55" fill="#891d00"/>
                        <rect x="222.45" y="317.87" width="32.447" height="148.55" fill="#720016"/>
                        <path
                            d="m41.522 512c-21.564 0-39.046-17.482-39.046-39.046s17.482-39.046 39.046-39.046h428.96c21.564 0 39.046 17.482 39.046 39.046s-17.482 39.046-39.046 39.046z"
                            fill="#2e2d30"/>
                        <path
                            d="m43.108 482.19v-18.464c0-16.44 13.375-29.814 29.814-29.814h-31.4c-21.564 0-39.046 17.482-39.046 39.046s17.482 39.046 39.046 39.046h31.4c-16.44 0-29.814-13.375-29.814-29.814z"
                            fill="#1d1d20"/>
                        <path
                            d="m256 347.02c-48.822 0-88.541-39.719-88.541-88.541s39.719-88.541 88.541-88.541 88.541 39.719 88.541 88.541-39.719 88.541-88.541 88.541z"
                            fill="#ac2201"/>
                        <path
                            d="m256 299.11c-22.405 0-40.632-18.227-40.632-40.632s18.227-40.632 40.632-40.632 40.632 18.227 40.632 40.632-18.228 40.632-40.632 40.632z"
                            fill="#891d00"/>
                        <g fill="#ac2201">
                            <path
                                d="m256 71.493c4.557 0 8.249-3.693 8.249-8.249v-54.995c0-4.556-3.692-8.249-8.249-8.249s-8.249 3.693-8.249 8.249v54.995c-1e-3 4.556 3.692 8.249 8.249 8.249z"/>
                            <path
                                d="m431.98 90.741c2.111 0 4.222-0.805 5.834-2.416l43.996-43.996c3.222-3.222 3.222-8.445 0-11.665-3.223-3.222-8.445-3.222-11.667 0l-43.996 43.996c-3.222 3.222-3.222 8.445 0 11.665 1.611 1.611 3.723 2.416 5.833 2.416z"/>
                            <path
                                d="m74.184 88.325c1.611 1.61 3.723 2.416 5.834 2.416s4.222-0.805 5.834-2.416c3.222-3.222 3.222-8.445 0-11.665l-43.996-43.996c-3.223-3.222-8.445-3.222-11.667 0s-3.222 8.445 0 11.665z"/>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <router-view class="map"/>
    </div>
    <div v-else class="endScreen" style="color: #B0B0B0">
        <h1 style="text-align: center">Тест завершен!</h1>
        <h2 style="text-align: center">Всего очков: {{ total_points }}</h2>
        <h2 style="text-align: center">Всего времени: {{ time }}</h2>
        <h2 style="text-align: center">{{ responseText }}</h2>
        <router-link to="/profile">
            <b-btn class="profile_btn">В профиль</b-btn>
        </router-link>

    </div>
</template>


<script>
export default {
    name: "quiz_window",
    data() {
        return {
            positionX: null,
            positionY: null,
            opacity: 0.3,
            alertVisible: false,
            responseText: "",
            total_points: null,
            time: null,
            mapVisible: true,
            current_state: ""
        }
    },
    methods: {
        cursorEnter() {
            this.opacity = 0.45;
        },
        cursorLeave() {
            this.opacity = 0;
        },
        getCursorPosition(event) {
            this.positionX = event.clientX;
            this.positionY = event.clientY;
        },
        showResponse() {
            this.$root.$on("quizEndResponse", (data) => {
                this.responseText = data;
            });
        },
        showAlert() {
            this.$root.$on("showAlert", () => {
                this.alertVisible = true;
            });
        },
        hideAlert() {
            this.$root.$on("hideAlert", () => {
                this.alertVisible = false;
            });
        },
        quizEndListener() {
            this.$root.$on("quizEnd", (response) => {
                this.mapVisible = false;
                this.time = response.time;
                this.total_points = response.total_points;
            })
        },
        currentStateListener() {
            this.$root.$on("currentState", (response) => {
               this.current_state = response.current_state;
            });
        }
    },
    mounted() {
        this.currentStateListener();
        this.showAlert();
        this.hideAlert();
        this.showResponse();
        this.quizEndListener();
    }
}
</script>
<style scoped>

.map_window {
    display: flex;
    justify-content: center;
    background-color: #1a1a21;
    outline: #212529 solid 5px;
    border-radius: 30px;
    margin: 10px;
}

.task_tip {
    position: absolute;
    border-radius: 10px;
    background-color: #B0B0B0;
    display: flex;
}

.alert_svg {
    position: absolute;
    padding-left: 100%;
    margin-top: 5px;
    margin-left: 5px;
    opacity: 1;
}

.profile_btn {
    margin-top: 10px;
    background-color: #1a1a21;
    outline: #212529 solid 5px;
    border-radius: 30px;
    border: 0px solid;
    width: 200px;
}

.map {
    width: 70vw;
}

.endScreen {
    display: grid;
    justify-items: center;
}

@media screen and (max-width: 650px) {
    .map {
        width: 80%;
    }

}

</style>
