<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="dark">
            <img src="https://img.icons8.com/fluency/48/000000/earth-planet.png" alt="logo" href="#"/>
            <b-navbar-brand>
                <a href="/hello" style="text-decoration: none; color: inherit;">GeoQuiz</a>
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="ms-auto" v-if="!$store.getters.isLoggedIn">
                    <b-button variant="primary" to="/sign_up">
                        Регистрация
                    </b-button>
                    <b-button variant="light" to="/sign_in">
                        Вход
                    </b-button>
                </b-navbar-nav>
                <b-navbar-nav class="ms-auto" v-else>
                    <b-button variant="success" style="border: solid #212529 1px"
                              v-on:click="$store.commit('deleteCredentials')"
                              to="/sign_in">
                        Выход
                    </b-button>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>

export default {
    name: "Navbar"
}
</script>

<style scoped>
.navbar-nav {
    gap: 10px;
}

.navbar {
    padding: 0.5%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

</style>
