<template>
    <div class="content">
        <Navbar/>
        <router-view/>
        <footer class="footer"><h1></h1></footer>
    </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import Navbar from "@/components/Navbar";
import axios from "axios";
import {router} from "@/router";
import {store} from "@/main";

export default {
    name: 'App',
    components: {Navbar},
    methods: {
        tokens_error(payload) {
            const details = payload.error.response.data.detail
            if (details === "wrong token") {
                this.$store.commit("deleteCredentials");
            } else if (details === "token expired") {
                this.updateTokens(payload.func);
            }
        },
        updateTokens(func) {
            const data = {
                refresh_token: store.state.tokens.refresh_token
            }
            axios.post(`${store.state.additionalData.api_host}/users/refresh-token`, data).catch((error) => {
                if (error.response.status === 403) {
                    router.push("/sign_in");
                    store.commit("deleteCredentials");
                }
            }).then((response) => {
                store.commit("setTokens", response.data);
                func();
            })
        },
        updateTokensHandler() {
            this.$root.$on("updateTokens", (payload) => {
                this.updateTokens(payload);
            })
        },
        emitFunctions() {
            this.$root.$on('tokens_error', (payload) => {
                this.tokens_error(payload);
            })
        },

    },
    mounted() {
        this.updateTokensHandler();
        this.emitFunctions();
    }
}
</script>

<style scoped>
.footer {
    margin-top: auto;
    min-height: 100px;
}

.content {
    display: grid;
    background: url(https://i.ibb.co/m5rsFJL/background3.png) center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    grid-template-rows: auto 1fr auto;
}

.content{
    color-scheme: dark;
}


</style>
