<template>
    <div class="container-fluid mx-auto my-5 border-dark rounded"
         style="height: min-content; background: #212529; color:white; width: 80%">
        <form class>
            <div class="mt-2">
                <h3>Регистрация</h3>
            </div>
            <div class="form-group" style="border-color: #1a1a21">
                <label>Username</label>
                <b-form-input
                    id="input-live"
                    v-model="username"
                    :state="checkUsername"
                    aria-describedby="input-live-help input-live-feedback"
                    placeholder="Введите свой ник, 3 символа минимум"
                    trim
                ></b-form-input>
                <b-form-invalid-feedback id="username error">
                    Некорректный username
                </b-form-invalid-feedback>
                <label>Email</label>
                <b-form-input
                    id="input-live"
                    v-model="email"
                    :state="checkEmail"
                    aria-describedby="input-live-help input-live-feedback"
                    placeholder="Введите почту"
                    trim
                ></b-form-input>
                <b-form-invalid-feedback id="email error">
                    Некорректный email
                </b-form-invalid-feedback>
            </div>

            <div class="form-group">
                <label>Пароль</label>
                <b-form-input
                    id="input-live"
                    v-model="password1"
                    :state="checkPasswordLength"
                    aria-describedby="length error"
                    placeholder="Введите пароль"
                    trim
                    type="password"
                ></b-form-input>
                <b-form-invalid-feedback id="equality error">
                    Введите как минимум 8 символов
                </b-form-invalid-feedback>
            </div>
            <div class="form-group">
                <label>Подтвердите пароль</label>
                <b-form-input
                    id="input-live"
                    v-model="password2"
                    :state="checkEquality"
                    aria-describedby="equality error"
                    placeholder="Подтвердите ввод пароля"
                    trim
                    type="password"
                ></b-form-input>
                <b-form-invalid-feedback id="length error">
                    Пароли не совпадают
                </b-form-invalid-feedback>
            </div>
            <div class="mt-2">
                <button class="btn btn-success btn-lg btn-block" type="submit" @click.prevent="sign_up">
                    Зарегистрироваться
                </button>
            </div>
            <p class="forgot-password text-right mt-2 mb-4">
                Уже есть аккаунт? <a class="ml-2">
                <router-link to="/sign_in">Войти</router-link>
            </a>
            </p>
        </form>
    </div>
</template>
<script>
import axios from "axios";
import {router} from "@/router";
import {store} from "@/main";

export default {
    name: "sign_up",
    data() {
        return {
            email: "",
            username: "",
            password1: "",
            password2: "",
        }
    },
    methods: {
        sign_up() {
            if (this.check_all()) {
                const data = {email: this.email, password: this.password1, username: this.username};
                axios.post(`${store.state.additionalData.api_host}/users/sign_up`, data).then(() => {
                        router.push("/sign_in");
                    }
                ).catch((response) => {
                    if (response.statusCode == 500) {
                        alert("сервер не отвечает")
                    }
                })
            } else {
                alert("Invalid credentials");
            }
        },
        check_all() {
            return this.checkEquality && this.checkPasswordLength && this.checkEmail
        }
    },
    computed: {
        checkPasswordLength() {
            return this.password1.length > 7;
        },
        checkEquality() {
            return this.password1 === this.password2;
        },
        checkEmail() {
            const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(this.email) && this.email.length > 2;
        },
        checkUsername() {
            const re = /^[0-9a-zA-Z_.-]+$/;
            return re.test(this.username) && this.username.length > 2;
        }
    }
}
</script>

<style scoped>

.container-fluid {
    max-width: 800px;
}

@media screen and (max-width: 500px) {
    .container-fluid {
        font-size: 80%;
    }
}

@media screen and (max-width: 500px) {
    .container-fluid {
        font-size: 80%;
    }
}

</style>
