<template>
    <div class="container-fluid w-50 mx-auto my-5 border-dark rounded"
         style="height: min-content; background: #212529; color:white">
        <form class>
            <div class="mt-2">
                <h3>Вход</h3>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" v-model="email" class="form-control form-control-lg"/>
            </div>

            <div class="form-group">
                <label>Пароль</label>
                <input type="password" v-model="password" class="form-control form-control-lg"/>
            </div>
            <div class="mt-2">
                <button class="btn btn-success btn-lg btn-block" @click.prevent="sign_in">Войти</button>
            </div>
            <p class="forgot-password text-right mt-2 mb-4">
               Нет аккаунта?
                <router-link to="/sign_up"><a class="ml-2">Зарегистрироваться</a></router-link>
            </p>
        </form>
    </div>
</template>

<script>
import axios from "axios";
import {router} from "@/router";
import {store} from "@/main";

export default {
    name: "sign_in",
    data() {
        return {
            email: "",
            password: ""
        }
    },
    methods: {
        sign_in() {
            const data = {
                email: this.email,
                password: this.password
            }
            axios.post(`${store.state.additionalData.api_host}/users/sign_in`, data).then(function (response) {
                store.commit("setTokens", response.data);
                store.commit("setUser", response.data);
                router.push("/hello")
            })
        }
    }

}

</script>

<style scoped>


</style>
